body {font-family: Tahoma, Geneva, sans-serif; margin: 1em 2em 1em 2em; font-size: 100%; line-height: 110%;}
h1, h2, h3, h4, h5, h6 {font-family: Trebuchet MS, Helvetica, sans-serif; font-weight: bold; line-height:100%; margin-top: 0.5em; margin-bottom: 0.5em;}
h1 {font-size: 2.5em; color: #000000;}
h2 {font-size: 2.0em; color: #404040;}
h3 {font-size: 1.5em; color: #707070;}
h4 {font-size: 1.3em; color: #909090;}
h5 {font-size: 1.2em; color: #989898;}
h6 {font-size: 1.1em; color: #9c9c9c;}
p, pre, blockquote, table, ul, ol, dl {margin-top: 0.5em; margin-bottom: 0.5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.2em; margin-bottom: 0.2em;}
li {margin: 0.2em auto;}
ul {margin-left: 2em; padding-left: 0.5em;}
dt {font-weight: bold;}
img {border: none;}
pre {border-left: 1px solid #ccc; margin-left: 1em; padding-left: 0.5em;}
blockquote {padding: 0.4em; background-color: #f6f5eb;}
th, td {border: 1px solid #ccc; padding: 0.3em;}
th {background-color: #f0f0f0;}
hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del {text-decoration: line-through; color: #777777;}
code {
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 3px;
  display: inline-block;
  color: #22395d;
  border: 0px solid #ccc;
  background-color: #fafafa;
}
